<link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet">
<template>
<div>
  <div class="layout-sidebar">
    
    <div class="layout-menu">
      <div class="menu-category">Health ML experiment</div>
      <div class="menu-items">
        <router-link to="/">Home</router-link>
        <router-link to="/ckd">Ckd</router-link>
        <router-link to="/pneumonia">Pneumonia</router-link>
         <router-link to="/predict-pneumonia">Predict Pneumonia</router-link>
      </div>
    </div>
  </div>
  <div class="layout-content">
    <router-view/>
  </div>
</div>
</template>

<script>


export default {
  props: {

	},
	
  methods: {
    visibleLeft() {
			return true;
		}
  },
  created () {
    document.title = "Health Ml expereiment";
  }
}
</script>
