<template>
  <div class="p-grid p-fluid dashboard">

    <div class="p-col-12 p-lg-4">
      <Card>
        <template #title>
          Chronic Kidney disease
        </template>
        <template #content>
            <p>Chronic kidney disease (CKD) means your kidneys are damaged and can’t filter blood the way they should. The disease is called “chronic” because the damage to your kidneys happens slowly over a long period of time. This damage can cause wastes to build up in your body. CKD can also cause other health problems.</p>
        </template>
      </Card>
    </div>

    <div class="p-col-12 p-lg-4">
      <Card>
        <template #title>
          Prediction Algorithm
        </template>
        <template #content>
          <p>The model prediction is constructed by using Artificial Neural Networks with the help of <a href="https://keras.io/" target="_blank">Keras framework</a></p>
          <p> Dataset was cleaned from unecessary attributes ad normalized with min-max method</p>
          <p> 200 Epochs were used to build the model</p>
        </template>
      </Card>
    </div>

    <div class="p-col-12 p-lg-4">
      <Card>
        <template #title>
          Dataset Attributes
        </template>
        <template #content>
          The independent  attributes used in this train - test dataset are the following.
          <ul>
          <li>specific gravity -> float</li>
          <li>albumin -> float</li>
          <li>serum creatinine -> float</li>
          <li>hemoglobin -> float</li>
          <li>packed cell volume -> float</li>
          <li>white cells count -> float</li>
          <li>red cells count -> float</li>
          <li>hypertension -> bool</li>
          </ul>
        </template>
      </Card>
    </div>

    <div class="p-col-3 t">
      <Card>
        <template #title>
          Predict
        </template>
        <template #content>
          <span class="p-float-label">
            <InputText id="specific_gravity" type="text" v-model="specific_gravity" />
            <label for="specific_gravity">specific gravity</label>
          </span>

          <span class="p-float-label">
            <InputText id="albumin" type="text" v-model="albumin" />
            <label for="albumin">albumin</label>
          </span>

          <span class="p-float-label">
            <InputText id="serum_creatinine" type="text" v-model="serum_creatinine" />
            <label for="serum_creatinine">serum creatinine</label>
          </span>

          <span class="p-float-label">
            <InputText id="hemoglobin" type="text" v-model="hemoglobin" />
            <label for="hemoglobin">hemoglobin</label>
          </span>

          <span class="p-float-label">
            <InputText id="packed_cell_volume" type="text" v-model="packed_cell_volume" />
            <label for="packed_cell_volume">packed cell volume</label>
          </span>

          <span class="p-float-label">
            <InputText id="white_cells_count" type="text" v-model="white_cells_count" />
            <label for="white_cells_count">white cells count</label>
          </span>

          <span class="p-float-label">
            <InputText id="red_cells_count" type="text" v-model="red_cells_count" />
            <label for="red_cells_count">red cells count</label>
          </span>

          <span class="p-float-label">
            <Dropdown id="hypertension" v-model="hypertesion" :options="hypertension_values" optionLabel="name" />
            <label for="hypertension">hypertension</label>
          </span>

          <div class="p-col-12">
            <Button label="Clear Data" class="p-button-warning" @click="clearData()"/>
          </div>

          <div class="p-col-12">
            <Button label="Predict" class="" @click="predict()"/>
          </div>
          <Message v-if="message" :severity="severity">{{message}}</Message>
        </template>
      </Card>
    </div>

    <div class="p-col-9 t">
      <Card>
        <template #title>
          Predicted Patients
        </template>
        <template #content>
          <DataTable :value="predictions" :paginator="true" :rows="10"
            paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
            :rowsPerPageOptions="[10,20,50]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords}">
            <Column field="patient_data.specific_gravity" header="specific gravity"></Column>
            <Column field="patient_data.albumin" header="albumin"></Column>
            <Column field="patient_data.serum_creatinine" header="serum creatinine"></Column>
            <Column field="patient_data.hemoglobin" header="hemoglobin"></Column>
            <Column field="patient_data.packed_cell_volume" header="packed cell volume"></Column>
            <Column field="patient_data.white_cells_count" header="white cells count"></Column>
            <Column field="patient_data.red_cells_count" header="red cells count"></Column>
            <Column field="patient_data.hypertension" header="hypertension"></Column>
            <Column field="dt_str" header="predicted at"></Column>
            <Column field="prediction" header="prediction"></Column>
            <template #paginatorLeft>
                <Button type="button" icon="pi pi-refresh" class="p-button-text" />
            </template>
            <template #paginatorRight>
                <Button type="button" icon="pi pi-cloud" class="p-button-text" />
            </template>
        </DataTable>
        </template>
      </Card>
    </div>

    
  </div>


</template>

<script>
import Card from 'primevue/card';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import axios from 'axios'
import InputText from 'primevue/inputtext';
import Dropdown from 'primevue/dropdown';
import Button from 'primevue/button';
import Message from 'primevue/message';

const client = axios.create({
    baseURL: process.env.VUE_APP_API_URL
});

console.log(process.env.VUE_APP_API_URL)

class PredictionsService {
  getAll() {
		return client.get('/ckd/predictions').then(res => res.data.data);
	}
}

export default {
  components: {
    'Card': Card,
    'DataTable': DataTable,
    'Column': Column,
    'InputText': InputText,
    'Dropdown': Dropdown,
    'Button': Button,
    'Message': Message
    
  },
  name: 'Ckd',

  data() {
      return {
          severity: null,
          message: null,
          predictions: null,
          specific_gravity: null,
          albumin: null,
          serum_creatinine:null,
          hemoglobin: null,
          packed_cell_volume: null,
          white_cells_count: null,
          red_cells_count: null,
          hypertesion: false,
          hypertension_values: [
            {name: 'No', code: false},
            {name: 'Yes', code: true},
          ]
      }
  },

  methods: {
    clearData() {

      this.specific_gravity = null;
      this.albumin = null;
      this.serum_creatinine = null;
      this.hemoglobin = null;
      this.packed_cell_volume = null;
      this.white_cells_count = null;
      this.red_cells_count = null;
      this.hypertesion = false;
      this.message = null;
    },

    predict() {
      let data = {
        specific_gravity: this.specific_gravity,
        albumin: this.albumin,
        serum_creatinine: this.serum_creatinine,
        hemoglobin: this.hemoglobin,
        packed_cell_volume: this.packed_cell_volume,
        white_cells_count: this.white_cells_count,
        red_cells_count: this.red_cells_count,
        hypertension: this.hypertesion.code,
      }

      client.post('/ckd/predict', data)
      .then((res) => {
        let data = res.data

        if (res.status >= 200 && res.status <= 299) {
          this.severity = "info";

          if (data.prediction == true) {
            this.message = "This patient probably have CKD"
          }

          if (data.prediction == false) {
            this.message = "This patient probably does not have CKD"
          }
         
          this.predictions.unshift(data)          
        } else  {
          this.severity = "error"
          this.message = "Wrong Attributes or prediction failed!!!"
        }
      })
      .catch((e) => {
        console.log(e);
        this.severity = "error"
          this.message = "Wrong Attributes or prediction failed!!!"
      });

    }
  },

  predictionsService: null,

  created() {
      this.predictionsService = new PredictionsService();
  },

  mounted() {
      this.predictionsService.getAll().then(data => this.predictions = data);
  },

}
</script>
