<template>
  <div class="p-grid p-fluid dashboard">
    <div class="p-col-12">
    <Panel header="Health ML experiment">
      <h3 class="unm">Description of the project</h3>
      <p>
        Health ML experiment is a Univercity of Piraeus students project aiming to provide ML models to predict diseases or try to understand various health data.
        Train and Test data as Predictions are all persisted in a database infrastructure system for later use.
      </p>
      <h3>Infrastructure</h3>
      <p>
        This project use Python <a href="https://fastapi.tiangolo.com/" target="_blank">Fastapi</a> in Http server Layer
      </p>
      <p>
        <a href="https://vuejs.org/" target="_blank">Vue.js</a> is used for templating the frontend 
      </p>
      <p>
        <a href="https://www.mongodb.com/" target="_blank">Fastapi</a> is used for storing train-test data as storing predictions
      </p>
      <p>
        To manage health data we used <a href="https://pandas.pydata.org/" target="_blank">Pandas</a>,
        <a href="https://numpy.org/" target="_blank">Numpy</a>
        <a href="https://matplotlib.org/" target="_blank">Matplotlib</a>
      </p>
      <p>
        The application is containerized using <a href="https://www.docker.com/" target="_blank">Docker</a>
        One docker container contains the Python prediction modeling system with http layer
        and the other contains mongodb persistence layer
      </p>
      <h3>Disease Predictions</h3>
      <ul>
        <li><router-link to="/ckd">Chronic Kidney Disease</router-link></li>
      </ul>
    </Panel>
    </div>
  </div>
</template>

<script>
import Panel from 'primevue/panel';


export default {
  components: {
    'Panel': Panel,
  },
  name: 'Home',
}
</script>
