<template>
  <div class="p-grid p-fluid dashboard">
    <div class="p-col-12 p-lg-4">
      <Card>
        <template #title>
        Pneumonia Detection With CNNs
        </template>
        <template #content>
            <p>Chronic kidney disease (CKD) means your kidneys are damaged and can’t filter blood the way they should. The disease is called “chronic” because the damage to your kidneys happens slowly over a long period of time. This damage can cause wastes to build up in your body. CKD can also cause other health problems.</p>
        </template>
      </Card>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Card from 'primevue/card';
// import DataTable from 'primevue/datatable';
// import Column from 'primevue/column';
// import InputText from 'primevue/inputtext';
// import Dropdown from 'primevue/dropdown';
// import Button from 'primevue/button';
// import Message from 'primevue/message';

const client = axios.create({
  baseURL: process.env.VUE_APP_API_URL
});

console.log(process.env.VUE_APP_API_URL)

class PredictionsService {
  getAll() {
		return client.get('/pneumonia/predictions').then(res => res.data.data);
	}
}

export default {
  components: {
    'Card': Card,
    // 'DataTable': DataTable,
    // 'Column': Column,
    // 'InputText': InputText,
    // 'Dropdown': Dropdown,
    // 'Button': Button,
    // 'Message': Message
    
  },
  name: 'Ckd',

  data() {
      return  {
          
      }
  },

  methods: {
    clearData() {

      this.specific_gravity = null;
      this.albumin = null;
      this.serum_creatinine = null;
      this.hemoglobin = null;
      this.packed_cell_volume = null;
      this.white_cells_count = null;
      this.red_cells_count = null;
      this.hypertesion = false;
      this.message = null;
    },

    predict() {
      let data = {
        specific_gravity: this.specific_gravity,
        albumin: this.albumin,
        serum_creatinine: this.serum_creatinine,
        hemoglobin: this.hemoglobin,
        packed_cell_volume: this.packed_cell_volume,
        white_cells_count: this.white_cells_count,
        red_cells_count: this.red_cells_count,
        hypertension: this.hypertesion.code,
      }

      client.post('/ckd/predict', data)
      .then((res) => {
        let data = res.data

        if (res.status >= 200 && res.status <= 299) {
          this.severity = "info";

          if (data.prediction == true) {
            this.message = "This patient probably have CKD"
          }

          if (data.prediction == false) {
            this.message = "This patient probably does not have CKD"
          }
         
          this.predictions.unshift(data)          
        } else  {
          this.severity = "error"
          this.message = "Wrong Attributes or prediction failed!!!"
        }
      })
      .catch((e) => {
        console.log(e);
        this.severity = "error"
          this.message = "Wrong Attributes or prediction failed!!!"
      });

    }
  },

  predictionsService: null,

  created() {
      this.predictionsService = new PredictionsService();
  },

  mounted() {
      this.predictionsService.getAll().then(data => this.predictions = data);
  },

}
</script>