<template>
  <div class="p-grid p-fluid dashboard">



    <div class="p-col-4 t">
      <Card>
        <template #title>
          Predict
        </template>
        <template #content>
          <span class="p-float-label">
            <InputText id="patient_first_name" type="text" v-model="patient_first_name" />
            <label for="patient_first_name">first name</label>
          </span>

          <span class="p-float-label">
            <InputText id="patient_last_name" type="text" v-model="patient_last_name" />
            <label for="patient_last_name">last name</label>
          </span>
        
          
          <span class="p-float-label">
          <Calendar  v-model="dob" :showTime="false"  dateFormat="yy-mm-dd" />
          <label for="dob">birthdate</label>
          </span>
          
     
          <div class="p-col-12">
            <input type="file" ref="file" @change="onFileChange()"/>
          <!-- <FileUpload name="file[]" :customUpload="true" @select="fileSelect" multiple="false" mode="basic"  auto="true" /> -->
          </div>


          <div class="p-col-12">
            <Button label="Clear Data" class="p-button-warning" @click="clearData()"/>
          </div>

          <div class="p-col-12">
            <Button label="Predict" class="" @click="predict()"/>
          </div>
          <Message v-if="message" :severity="severity">{{message}}</Message>
        </template>
      </Card>
    </div>
    <div class="p-col-8 t s">
      <Card>
        <template #title>
          X-Ray
        </template>
        <template #content>
          <img :src="png" width="700" height="700">
          <div ref="img-container"></div>
        </template>
      </Card>
    </div>
    <div class="p-col-12 t">
      <Card>
        <template #title>
          Predicted Patients
        </template>
        <template #content>
          <DataTable :value="predictions" :paginator="true" :rows="10"
            paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
            :rowsPerPageOptions="[10,20,50]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords}">
            <Column field="patient_data.patient_first_name" header="patient_first_name"></Column>
            <Column field="patient_data.patient_last_name" header="patient_last_name"></Column>
            <Column field="patient_data.dob" header="dob"></Column>
            <Column field="dt_str" header="predicted at"></Column>
            <Column field="prediction" header="prediction"></Column>
            <template #paginatorLeft>
                <Button type="button" icon="pi pi-refresh" class="p-button-text" />
            </template>
            <template #paginatorRight>
                <Button type="button" icon="pi pi-cloud" class="p-button-text" />
            </template>
        </DataTable>
        </template>
      </Card>
    </div>

    
  </div>


</template>

<script>
import Card from 'primevue/card';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import axios from 'axios'
import InputText from 'primevue/inputtext';
import Button from 'primevue/button';
import Message from 'primevue/message';
import Calendar from 'primevue/calendar';
//import FileUpload from 'primevue/fileupload';

const client = axios.create({
    baseURL: process.env.VUE_APP_API_URL
});

console.log(process.env.VUE_APP_API_URL)

class PredictionsService {
  getAll() {
		return client.get('/pneumonia/predictions').then(res => res.data.data);
	}
}

export default {
  components: {
    'Card': Card,
    'DataTable': DataTable,
    'Column': Column,
    'InputText': InputText,
    'Button': Button,
    'Message': Message,
    'Calendar': Calendar,

    
  },
  name: 'Ckd',

  data() {
      return {
          predictions: null,
          patient_first_name: null,
          patient_last_name: null,
          dob: null,
          file: null,
          message: null,
          image: null,
          png: null
          
      }
  },

  methods: {
    clearData() {

      this.patient_first_name = null;
      this.patient_last_name = null;
      this.dob = null;
      this.image = null;
      this.$refs.file.value=null;

    },

    onFileChange() {
      this.image = this.$refs.file.files[0];
      
      let formData = new FormData();
      formData.append('file', this.image);

      client.post('dicom-to-img', formData, {headers: {'Content-Type': 'multipart/form-data'}, responseType: 'blob'}).then((res) => {
        // console.log(res)
        // let blob = new Blob([res.data], {type: "image/png"});
        // console.log(blob);
        // var urlCreator = window.URL || window.webkitURL;
        // this.png = urlCreator.createObjectURL(blob)
  
        let reader = new FileReader();
        reader.readAsDataURL(res.data); 
        reader.onload = () => {
            console.log(reader.result)
            this.png = reader.result;
        }
      });
    },
  

    predict() {
      let data = {
        patient_first_name: this.patient_first_name,
        patient_last_name: this.patient_last_name,
        dob: this.dob,
       // file: this.image,
      }

      let formData = new FormData();

      formData.append('metadata', JSON.stringify(data))
      formData.append('file', this.image);
      console.log(formData)
      client.post('/pneumonia/predict', formData, {headers: {'Content-Type': 'multipart/form-data'}})
      .then((res) => {
        let data = res.data
        console.log(data)
        if (res.status >= 200 && res.status <= 299) {
          this.severity = "info";

          if (data.prediction == true) {
            this.message = "This patient probably have pneumonia"
          }

          if (data.prediction == false) {
            this.message = "This patient probably does not have pneumonia"
          }
         
          this.predictions.unshift(data)          
        } else  {
          this.severity = "error"
          this.message = "Wrong Attributes or prediction failed!!!"
        }
      })
      .catch((e) => {
        console.log(e);
        this.severity = "error"
          this.message = "Wrong Attributes or prediction failed!!!"
      });

    }
  },

  predictionsService: null,

  created() {
      this.predictionsService = new PredictionsService();
  },

  mounted() {
      this.predictionsService.getAll().then(data => this.predictions = data);
  },

}
</script>
