a{
    text-decoration: none;
}

.layout-sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    background-color: var(--surface-a);
    overflow: auto;
    width: 250px;
    border-right: 1px solid var(--surface-d);
    padding: 1rem;

}

.layout-sidebar .layout-menu .menu-category:first-child {
    border-top: 0 none;
    padding-top: 1rem;
}

.layout-sidebar, .layout-sidebar .layout-menu .menu-category {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--primary-color);
}

.layout-sidebar .layout-menu .menu-items {
    padding: 0 0 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.layout-sidebar .layout-menu .menu-items {
    padding: 0 0 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: var(--text-color-secondary);
}

.layout-sidebar .layout-menu .menu-items a{
    color: #495066;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .5rem;
    border-radius: 3px;
    cursor: pointer;

}

.layout-sidebar .layout-menu .menu-items a.router-link-exact-active {
    font-weight: 700;
}


.layout-sidebar .layout-menu .menu-category {
    display: block;
    color: var(--text-color-secondary);
    font-weight: 600;
    padding: 1.5rem 0 1rem 0;
        padding-top: 1.5rem;
    font-size: .857rem;
    text-transform: uppercase;
    border-top: 1px solid var(--surface-d);
}

.layout-content {
    margin-left: 250px;
}

body {

    margin-top: 0 !important;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--surface-c);
}

.layout-content {
    background-color: var(--surface-c);
}

h1, h2, h3, .p-card-title {
    color: var(--primary-color);
}

.unm {
    margin-top: 0 !important;
}

.page-title {
    margin-top: 0 !important;
    padding-top: 10px !important;
}


.p-grid, .p-fluid, .dashboard {
    background-color: var(--surface-c) !important;
}

.p-card-body {
    height: 250px;
    overflow-y: scroll;
}

.t .p-card-body {
    height: 700px;
    overflow: hidden !important;
}

.t .p-card-body .s {
    height: 700px;
    overflow-y: scroll !important;
}

